version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: chat-postgres
    environment:
      POSTGRES_USER: chat_user
      POSTGRES_PASSWORD: chat_password
      POSTGRES_DB: chatdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/init-scripts:/docker-entrypoint-initdb.d # for initialization scripts
    networks:
      -chat-networks
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: chat-redis
    networks:
      - chat-network
    ports:
      - "6379:6379"

volumes:
  postgres_data:

networks:
  chat-network:
    driver: bridge 

    