name: build and push to github registry
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v5
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build docker image auth service
        run: cd auth-service && docker build -t ghcr.io/bondjono19/auth-service:latest .
      - name: push
        run: docker push ghcr.io/bondjono19/auth-service:latest
    
